In [15]:
import pandas as pd
from collections import Counter

In [7]:
data_profiles = pd.read_csv('~/instagram_profiles.zip', delimiter='\t')

In [165]:
## Sorting users by number of follwoer in descending order
data_profiles = data_profiles.sort_values(by='followers', ascending=False)

In [166]:
data_profiles

,sid,profile_id,profile_name,firstname_lastname,description,following,followers,n_posts,url,cts,is_business_account
2880218,336492,2.502532e+07,instagram,Instagram,Bringing you closer to the people and things y...,226.0,285457645.0,5760.0,help.instagram.com,NaN,False
2582507,371414,3.416684e+06,victoriassecret,Victoria's Secret,Confidence is sexy. #wearitdaily,549.0,65269440.0,7355.0,like2b.uy/victoriassecret,NaN,True
3820939,337097,2.082449e+07,nba,NBA,"30 teams, 1 üèÜ\nüëü: @nbakicks \nüìΩ: @nbahistory \...",817.0,35339708.0,28816.0,nba.app.link/js6X7SVaxT,NaN,True
701965,330376,1.876191e+08,louisvuitton,Louis Vuitton Official,The official Instagram account of Louis Vuitton.,5.0,30689316.0,3352.0,on.louisvuitton.com/Like2Buy,NaN,True
2414951,292359,2.125507e+09,buzzfeedtasty,Tasty,"Recipes that will make you say ""oh yes!""\nüëá Cl...",298.0,30246783.0,2791.0,tasty.co/linkinbio,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...
4509575,4184448,2.438073e+08,not_omeed,ÿ£ŸàŸÖŸäÿØ,NaN,NaN,NaN,NaN,NaN,2019-08-01 14:39:06.271 -0400,NaN
4509577,4184452,6.567796e+08,shak._n5,Shakil Hussain,NaN,NaN,NaN,NaN,NaN,2019-08-01 14:39:23.911 -0400,NaN
4509582,4184469,1.340704e+07,jornvlaeminck,Jorn Vlaeminck,NaN,NaN,NaN,NaN,NaN,2019-08-01 14:40:41.628 -0400,NaN
4509583,4184470,6.007354e+09,s_degol,Sanne Degol,NaN,NaN,NaN,NaN,NaN,2019-08-01 14:40:42.983 -0400,NaN
4509585,4184511,2.088094e+09,arnaubassols_,Arnau Bassols Noguer,NaN,NaN,NaN,NaN,NaN,2019-08-01 14:42:30.055 -0400,NaN

In [141]:
inf_n_posts = data_profiles['n_posts'].iat[0]
inf_profile_id = data_profiles['profile_id'].iat[0]
inf_followers = data_profiles['followers'].iat[0]

In [167]:
inf_posts= []

for chunk in pd.read_csv('~/instagram_posts.zip', delimiter='\t', chunksize = 500000):
    inf_posts.append(chunk.loc[chunk['profile_id'] == inf_profile_id])
    ## We do this in order to avoid useless iterations, if inf_post has inf_n_posts elements,
    ## we stop iterating since we have all the posts that we need
    if(len(inf_posts) == inf_n_posts):
        break
        
inf_posts = pd.concat(inf_posts)

In [116]:
## In our data sample, we only have 34 post over the 5760 the user Instagram posted
print(len(inf_posts))
print(inf_n_posts)

34
5760.0

In [168]:
## Here we take the column 'location_id' and, with the use of a Counter,
## we count the occurences of every location Instagram registered in, so we can take
## the most ones
location_cnt = Counter(inf_posts.loc[:,'location_id'])
most_location_id = location_cnt.most_common(5)
## As we can see here, we don't have a location that comes up more than once
most_location_id

[(5332856.0, 1),
 (587387369.0, 1),
 (877066659067597.0, 1),
 (350021298.0, 1),
 (524311966.0, 1)]

In [132]:
## Only keep the ids
most_location_id = [loc_id for loc_id, i in most_location_id]
most_visited_locations = []
for chunk in pd.read_csv('~/instagram_locations.zip', delimiter='\t', chunksize = 500000):
    most_visited_locations.append(chunk.loc[chunk['id'].isin(most_location_id)])
    ## We do this in order to avoid useless iterations, when we found the locations we need we stop the cycle
    if(len(most_visited_location) == 5 ):
        break

In [130]:
most_visited_locations = pd.concat(most_visited_locations)
most_visited_locations

,sid,id,name,street,zip,city,region,cd,phone,aj_exact_city_match,...,dir_city_name,dir_city_slug,dir_country_id,dir_country_name,lat,lng,primary_alias_on_fb,slug,website,cts
45930,762145,5332856,Rosa Parks Plaza,250 N Lamar St,75202,"Dallas, Texas",NaN,US,(214) 979-1111,False,...,Downtown Dallas,downtown-dallas,US,United States,-96.804370,32.780616,NaN,rosa-parks-plaza,NaN,2019-05-30 21:26:01.789
60533,775485,587387369,Ethiopian Highlands,NaN,NaN,NaN,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,38.166667,10.000000,NaN,ethiopian-highlands,NaN,2019-05-31 11:22:21.183
96048,804342,877066659067597,Machu Picchu,Machu Picchu,NaN,"Cusco, Peru",NaN,PE,NaN,False,...,Mondor Pampa Aserradero,mondor-pampa-aserradero,PE,Peru,-72.545428,-13.164656,MachuPicchuWonderOfTheWorld,machu-picchu,NaN,2019-06-01 16:12:10.227
136417,838341,350021298,Parkland County,NaN,NaN,"Stony Plain, Alberta",NaN,CA,+1 780-968-8445,False,...,NaN,NaN,NaN,NaN,-114.006000,53.530000,NaN,parkland-county,http://www.parklandcounty.com,2019-06-03 04:41:24.810
844688,553843,524311966,Brodie Castle,Off A96,IV36 2TE,Forres,NaN,GB,01309 641371,False,...,NaN,NaN,NaN,NaN,-3.708948,57.598415,BrodieCastleNTS,brodie-castle,http://www.nts.org.uk/Property/Brodie-Castle/,2019-05-20 06:54:27.693

In [163]:
## Counter init
post_type_counter = Counter({1:0, 2:0, 3:0})
## List init such that like_by_type[x] = number of likes of type x, like_by_type[0] will always be empty
like_by_type = [0.0, 0.0, 0.0, 0.0]
for post in inf_posts.itertuples():
    post_type_counter[post.post_type]+=1
    like_by_type[post.post_type]+=post.numbr_likes

In [157]:
photo_percentage = round(post_type_counter[1] * 100/len(inf_posts),4)
video_percentage = round(post_type_counter[2] * 100/len(inf_posts),4)
multy_percentage = round(post_type_counter[3] * 100/len(inf_posts),4)
print('Post containing only photos: {}%'.format(photo_percentage))
print('Post containing only videos: {}%'.format(video_percentage))
print('Post containing both: {}%'.format(multy_percentage))

## Based on the small posts sample we have, we can say that around 91,18% of Instagram's posts are just photos,
## the rest are videos only posts and he never posts mixed posts.

Post containing only photos: 91.1765%
Post containing only videos: 8.8235%
Post containing both: 0.0%

In [162]:
photo_likes_avg = int(round(like_by_type[1] / post_type_counter[1], 0))
videos_likes_avg = int(round(like_by_type[2] / post_type_counter[2], 0))

print('On average, post containing only photos get {} likes.'.format(photo_likes_avg))
print('On average, post containing only videos get {} likes.'.format(videos_likes_avg))

perc_photo_likers = round(100*photo_likes_avg/inf_followers, 4)
perc_video_likers = round(100*videos_likes_avg/inf_followers, 4)

print('On average, {}% of the followers likes post containing only photos.'.format(perc_photo_likers))
print('On average, {}% of the followers likes post containing only video.'.format(perc_video_likers))

## Based on our analysis of the small sample we have, we can say that just a small percentage of followers
## is actually following Instagram's account actively. In fact, likes percentage does not reach 0.5% in any
## of the cases. Also, photos' likes are slightly higher that videos' ones.

On average, post containing only photos get 905933 likes.
On average, post containing only videos get 593410 likes.
On average, 0.3174% of the followers likes post containing only photos.
On average, 0.2079% of the followers likes post containing only video.